/* Defaults */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,600&display=swap');

html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

:root {
    --blue: #07F2F2;
    --green: #05F26C;
    --purple: #171321;
    --pink: #F2055C;
    --yellow: #EAF205;
    --white: #FFFFFF;
}

body {
    margin: auto;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: var(--white);
    line-height: 2;
}

/* General */
h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 0.7rem;
    letter-spacing: 2px;
    color: grey;
}

/* .highlight {
    padding: 0.5rem;
    background-color: var(--pink);
} */

.highlight {
    background-image: linear-gradient(45deg, var(--yellow), var(--blue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 580px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1rem;
    }

    h3 {
        font-size: 0.6rem;
    }
}

/* Header */
header {
    margin: 0;
    display: flex;
    justify-content: space-between;
    background-color: var(--purple);
    border-bottom: 3px solid var(--blue);
}

header a {
    text-decoration: none;
    color: var(--white);
}

.header-home-link {
    padding: 1.5rem calc(5vw - 0.5rem);
    font-size: 1.1rem;
    font-weight: 600;
}

.header-navbar {
    padding: 1.5rem;
}

.header-navbar a {
    padding-right: 1rem;
}

@media (max-width: 580px) {
    header {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .header-home-link {
        display: flex;
        justify-content: center;
    }

    .header-navbar {
        display: flex;
        justify-content: center;
    }
}

/* Hero */
.hero {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--purple);
}

.hero-content {
    width: 50%;
    text-align: left;
}

.hero-content-social {
    padding-top: 2rem;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-content-social-links {
    padding-top: 2rem;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.hero-content-social-links svg {
    height: 3vh;
    fill: var(--blue);
}

@media (max-width: 580px) {
    .hero-content {
        width: 80%;
    }
}